@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic);
body {
    font-family:  'PT Sans Caption', sans-serif;
    margin: 0;
    padding: 0;
    color: #0F0F3F;
}

.hero-image {
    width: 100%;
    height: auto;
    background-size: cover;
}

.content {
    padding: 30px;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 80px;
    margin-right: 80px;
}

h2{
    text-align: center;
}


/* Селекторы для тулбара*/
.toolbar {
    background-color: #232323;
    justify-content: space-between; /* Размещает элементы по краям */
    padding: 30px;
    display: flex;
    align-items: center;
}

.toolbar img {
    height: 80px; 
    margin-right: 15px;
}

.toolbar ul {
    list-style-type: none; /* Убираем стандартные маркеры списка */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
    display: flex; /* Используем Flexbox для горизонтального расположения */
}

.toolbar li {
    margin-right: 20px; /* Отступы между элементами навигации */    
}

.toolbar a {
    color: #706D6D; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 1.2rem;
}


/*Селектор для отображения нескольких картинок в "строке"*/
.gallery {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: space-between; /* Центрируем элементы по горизонтали */
    margin: 0 -10px; /* Отрицательные отступы для выравнивания */
}


/* Селекторы для перечня*/
.goals {
    padding: 20px; /* Внутренние отступы */
    max-width: 80%; /* Максимальная ширина блока */
    margin: 20px auto; /* Центрирование блока */
}

.goals ul{
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
}

.goals li{
    background-color: #acaeb0; /* Фон для каждого элемента списка */
    margin: 10px 0; /* Отступы между элементами списка */
    padding: 10px; /* Внутренние отступы для элементов списка */
    border-left: 5px solid #232323; 
}

/*Селектор для почты*/
.contact {
    text-align: center;
    margin-top: 40px;
}

a[href="mailto:export-import-samara@yandex.ru"]{        /* Селектор атрибута для ссылки*/
    font-weight: bold;
}

/*Селекторы для списка отраслей*/
.ind-img {
    width: 350px; 
    height: 250px; 
    object-fit: cover;
    filter: brightness(40%);
}
figure {
    position: relative; 
    margin: 10px; 
}
figcaption {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    padding: 5px; 
    text-align: center; 
    font-weight: bold;
}

/* Селекторы для таблицы*/
table {
    width: 100%;
    border-collapse: collapse; /* Убирает двойные границы между ячейками */
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd; /* Граница ячеек */
    padding: 10px; /* Отступы внутри ячеек */
    text-align: left; /* Выравнивание текста по левому краю по умолчанию */
}
th {
    background-color: #232323; /* Цвет фона заголовков */
    color: white; /* Цвет текста заголовков */
}
.center {
    text-align: center; /* Центрирование текста */
}
.right {
    text-align: right; /* Выравнивание текста по правому краю */
}



